<h1 id="current_distance"><%= @current_distance %></h1>
<%#= react_component("Room3", props: @current_distance) %>
<section class="space" id="root" props="<%= @current_distance %>"></section>

<script>
  const headers = {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'Authorization': 'this-can-be-anything',
  };

  const checkDistance = () => {
    var h1 = document.getElementById('current_distance')
    var current_distance = h1.innerText
    var path = '<%= synth_set_current_distance_path %>'
    var url = `${path}?current_distance=${current_distance})`

    // console.log({current_distance, path, url});

    fetch(url, {
      method: 'GET',
      headers,
    }).then(response => {
      response.json().then(function(data) {
        h1.innerText = data

        document.getElementById('root').setAttribute('props', data)
      });
    });
  };

  setInterval(checkDistance, 2000);
</script>
