<%#
  props = {
    wet: 0.8,
    distortion: 50,
    oversample: '2x'
  }
%>

<%
  props = {"ambientDistortion":{"name":"ambientDistortion","effect":{"distortion":10.606060606060607,"oversample":"4x"},"wet":0.10606060606060606,"on":false}}
%>

<div id="data" data-props="<%= props.to_json %>"></div>

<%#= tag :div, id: "data", data: { props: props.to_json } %>
